* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 2% 0 2% 0;
}

header {
    text-align: center;
    padding: 2%;
    background-color: black;
    color: white;
    font-size: 24px;
}

.color input[type="color"] {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.clear-button button{
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: 4px solid black;
    background-color: transparent;
    cursor: pointer;
}

.clear-button button:hover {
    background-color: #000;
    color: #fff;
}

.slider input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: #000;
    height: 1rem;
}
  
/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: #053a5f;
    height: 0.5rem;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: white;
    border: 2px solid black;
    height: 1.5rem;
    width: 1.5rem;    
 }

 /***** Firefox *****/
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: white;
    border: 2px solid black;
    height: 1.5rem;
    width: 1.5rem; ;
}

.settings {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    padding-right: 2%;
}

.grid-size {
    display: flex;
    gap: 5px;
}

.box {
    border: .1px solid #eee;
    transition: .1s;
}

.canvas {
    display: grid;
    border: 5px solid black;
    background-color: #fff;
}

.canvas h3 {
    text-align: center;
    margin-top: 50%;
    font-size: 24px;
}

footer {
    display: flex;
    padding: 2%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #ecf0f1;
}

footer a {
    color: black;
}