* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding-top: 5%;
}

header {
    text-align: center;
    padding: 2%;
    background-color: black;
    color: white;
    font-size: 24px;
}

.settings {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    padding-right: 2%;
}

footer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #ecf0f1;
}

footer a {
    color: black;
}